.burger {
    width: 100%;
    margin-top: 140px;
    position: fixed;
    top:-100%;
    z-index: 1;
    visibility: hidden;
    transition: .2s ease;
}
.burger__container {
    height: 100vh;
    padding: 0 40px;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.burger__list {
    margin: 20px 0;
    list-style: none;
    padding: 0;
}

.burger__links {
    margin: 0 0 20px 0;
    padding: 0;
}

.burger__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #434B4D;
    text-decoration: none;
}

.burger__link:hover {
    color: #00C8C9;
    border-bottom: 1px solid #00C8C9;
}

.burger__contacts {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #000000;
    text-decoration: none;
}

.burger__contacts:hover {
    border-bottom: 2px solid #000;
}

.burger__number {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #000000;
    text-decoration: none;
}

.burger__link-tel {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #000000;
    text-decoration: none;
}

.burger__link-tel:hover {
    border-bottom: 2px solid #000;
}

.burger__contacts-info {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #000000;
}

.burger__info {
    margin: 20px 0;
}

.burger_opened {
    visibility: visible;
    top: 0;
}

.burger__contact {
    display: flex;
    align-items: center;
}

.burger__icon {
    margin: 0 5px 0 0;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

@media screen and (min-width: 990px) {
    .burger_opened {
        display: none;
    }
}

@media screen and (max-width: 780px) {
    .burger__container {
        padding: 0 20px;
    }
}